<p>
This page lists changes in Actionmaps of Star Citizen's key binding table.
</br><span style="color: red;">Red color means an Action was removed from the Actionmap.</span>
</br><span style="color: green;">Green color means an Action was added to the Actionmap.</span>
</p>
<a href="#4.0.2">4.0.2</a></br>
<a href="#4.0.1">4.0.1</a></br>
<a href="#4.0.0">4.0.0</a></br>
<a href="#3.24.3">3.24.3</a></br>
<a href="#3.24.2">3.24.2</a></br>
<a href="#3.24.1">3.24.1</a></br>
<a href="#3.24.0">3.24.0</a></br>
<a href="#3.23.1">3.23.1</a></br>
<a href="#3.22.1">3.22.1</a></br>
<a href="#3.22.0">3.22.0</a></br>
<a href="#3.21.1">3.21.1</a></br>
<a href="#3.21.0">3.21.0</a></br>
<a href="#3.20.0">3.20.0</a></br>
<a href="#3.19.1">3.19.1</a></br>
<a href="#3.17.5">3.17.5</a></br>
<ul>
    <li id=4.0.2>4.0.1 =&gt; <b>4.0.2</b></li>
    <ul>
    </ul>
    <li id=4.0.1>4.0.0 =&gt; <b>4.0.1</b></li>
    <ul>
    </ul>
    <li id=4.0.0>3.24.3 =&gt; <b>4.0.0</b></li>
    <ul>
        <li>Actionmap <b>spaceship_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_speed_range_up</li>
                <li style="color: red;">v_speed_range_down</li>
                <li style="color: red;">v_speed_range_rel</li>
                <li style="color: red;">v_speed_range_abs</li>
                <li style="color: red;">v_ifcs_toggle_speed_limiter</li>
                <li style="color: red;">v_ifcs_speed_limiter_reset_scm</li>
                <li style="color: red;">v_target_match_vel</li>
                <li style="color: green;">v_ifcs_speed_limiter_up</li>
                <li style="color: green;">v_ifcs_speed_limiter_down</li>
                <li style="color: green;">v_ifcs_speed_limiter_increment</li>
                <li style="color: green;">v_ifcs_speed_limiter_decrement</li>
                <li style="color: green;">v_ifcs_speed_limiter_rel</li>
                <li style="color: green;">v_ifcs_speed_limiter_abs</li>
                <li style="color: green;">v_ifcs_limiter_toggle</li>
                <li style="color: green;">v_accel_range_increment</li>
                <li style="color: green;">v_accel_range_decrement</li>
                <li style="color: green;">v_flight_advanced_hud_toggle</li>
                <li style="color: green;">v_flight_advanced_hud_on</li>
                <li style="color: green;">v_flight_advanced_hud_off</li>
        </ul>
        <li>Actionmap <b>lights_controller</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_lights_on</li>
                <li style="color: green;">v_lights_off</li>
        </ul>
        <li>Actionmap <b>mapui</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">mapui_action_transition</li>
                <li style="color: green;">mapui_action_goto_localmap</li>
        </ul>
    </ul>
    <li id=3.24.3>3.24.2 =&gt; <b>3.24.3</b></li>
    <ul>
    </ul>
    <li id=3.24.2>3.24.1 =&gt; <b>3.24.2</b></li>
    <ul>
        <li>Actionmap <b>vehicle_capacitor_assignment</b>  <b style="color: red;">removed</b></li>
        <li>Actionmap <b>vehicle_mfd</b> <b style="color: green;">added</b>
        <li>Actionmap <b>spaceship_view</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_ads_hold</li>
                <li style="color: green;">v_ads_toggle</li>
                <li style="color: green;">v_ads_stable_max_zoom_hold</li>
                <li style="color: green;">v_ads_cycle_tracking</li>
        </ul>
        <li>Actionmap <b>spaceship_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_ifcs_proximity_assist_toggle</li>
                <li style="color: green;">v_ifcs_proximity_assist_on</li>
                <li style="color: green;">v_ifcs_proximity_assist_off</li>
                <li style="color: green;">v_ifcs_reset_gmeter_max</li>
        </ul>
        <li>Actionmap <b>turret_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">turret_mouse_mode_cycle</li>
                <li style="color: green;">turret_mouse_mode_set_vjoy</li>
                <li style="color: green;">turret_mouse_mode_set_1to1</li>
                <li style="color: green;">turret_mouse_mode_set_pointer</li>
        </ul>
        <li>Actionmap <b>turret_advanced</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">turret_instant_zoom</li>
        </ul>
        <li>Actionmap <b>spaceship_weapons</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_attack_all</li>
                <li style="color: red;">v_attack_group1</li>
                <li style="color: red;">v_attack_group2</li>
                <li style="color: red;">v_weapon_manual_gimbal_lock_vector</li>
                <li style="color: red;">v_weapon_ads_hold</li>
                <li style="color: red;">v_weapon_ads_toggle</li>
                <li style="color: red;">v_weapon_ads_stable_max_zoom_hold</li>
                <li style="color: red;">v_weapon_ads_cycle_tracking</li>
                <li style="color: green;">v_weapon_preset_fire_guns0</li>
                <li style="color: green;">v_weapon_preset_fire_guns1</li>
                <li style="color: green;">v_weapon_preset_fire_guns2</li>
                <li style="color: green;">v_weapon_preset_fire_guns3</li>
                <li style="color: green;">v_weapon_preset_next_overflow</li>
                <li style="color: green;">v_weapon_preset_prev_overflow</li>
                <li style="color: green;">v_weapon_preset_guns0</li>
                <li style="color: green;">v_weapon_preset_guns1</li>
                <li style="color: green;">v_weapon_preset_guns2</li>
                <li style="color: green;">v_weapon_preset_guns3</li>
                <li style="color: green;">v_weapon_preset_emp</li>
                <li style="color: green;">v_weapon_preset_qid_jammer</li>
                <li style="color: green;">v_weapon_preset_qid_pulse</li>
                <li style="color: green;">v_weapon_preset_qid</li>
        </ul>
        <li>Actionmap <b>spaceship_power</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_engineering_assignment_engine_increase</li>
                <li style="color: green;">v_engineering_assignment_engine_decrease</li>
                <li style="color: green;">v_engineering_assignment_engine_max</li>
                <li style="color: green;">v_engineering_assignment_engine_min</li>
                <li style="color: green;">v_engineering_assignment_shields_increase</li>
                <li style="color: green;">v_engineering_assignment_shields_decrease</li>
                <li style="color: green;">v_engineering_assignment_shields_max</li>
                <li style="color: green;">v_engineering_assignment_shields_min</li>
                <li style="color: green;">v_engineering_assignment_weapons_increase</li>
                <li style="color: green;">v_engineering_assignment_weapons_decrease</li>
                <li style="color: green;">v_engineering_assignment_weapons_max</li>
                <li style="color: green;">v_engineering_assignment_weapons_min</li>
                <li style="color: green;">v_engineering_assignment_reset</li>
        </ul>
        <li>Actionmap <b>player</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">selectpistol</li>
                <li style="color: red;">selectprimary</li>
                <li style="color: red;">selectsecondary</li>
                <li style="color: red;">selectgadget</li>
                <li style="color: red;">selectMeleeWeapon</li>
                <li style="color: red;">select_MeleeWeapon_pit</li>
                <li style="color: green;">attackSecondary</li>
                <li style="color: green;">select_meleeweapon_pit</li>
        </ul>
        <li>Actionmap <b>vehicle_general</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_attack_all</li>
                <li style="color: red;">v_attack_group1</li>
                <li style="color: red;">v_attack_group2</li>
        </ul>
        <li>Actionmap <b>player_choice</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">pc_qs_weapons_pistol</li>
                <li style="color: red;">pc_qs_weapons_primary</li>
                <li style="color: red;">pc_qs_weapons_secondary</li>
        </ul>
    </ul>
    <li id=3.24.1>3.24.0 =&gt; <b>3.24.1</b></li>
    <ul>
        <li>Actionmap <b>tractor_beam</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">tractor_beam_throw</li>
                <li style="color: green;">tractor_beam_reset_rotation</li>
        </ul>
    </ul>
    <li id=3.24.0>3.23.1 =&gt; <b>3.24.0</b></li>
    <ul>
        <li>Actionmap <b>player</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">toggle_lowered</li>
                <li style="color: red;">zoom_out</li>
                <li style="color: red;">zoom_in</li>
                <li style="color: red;">zoom_in_out</li>
                <li style="color: green;">interact_with_scope</li>
                <li style="color: green;">toggle_lowered</li>
                <li style="color: green;">zoom_out</li>
                <li style="color: green;">zoom_in</li>
        </ul>
    </ul>
    <li id=3.23.1>3.22.1 =&gt; <b>3.23.1</b></li>
    <ul>
        <li>Actionmap <b>seat_general</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_toggle_guns_mode</li>
                <li style="color: green;">v_toggle_flight_mode</li>
                <li style="color: green;">v_set_mining_mode</li>
                <li style="color: green;">v_set_salvage_mode</li>
                <li style="color: green;">v_set_scan_mode</li>
                <li style="color: green;">v_set_quantum_mode</li>
                <li style="color: green;">v_set_missile_mode</li>
                <li style="color: green;">v_set_guns_mode</li>
                <li style="color: green;">v_set_flight_mode</li>
                <li style="color: green;">v_enter_remote_turret_1</li>
                <li style="color: green;">v_enter_remote_turret_2</li>
                <li style="color: green;">v_enter_remote_turret_3</li>
        </ul>
        <li>Actionmap <b>spaceship_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_strafe_forward_abs_rel</li>
                <li style="color: red;">v_strafe_back_abs_rel</li>
                <li style="color: red;">v_strafe_longitudinal_abs_rel</li>
                <li style="color: red;">v_strafe_abs_rel_swap</li>
                <li style="color: red;">v_strafe_forward_abs</li>
                <li style="color: red;">v_strafe_back_abs</li>
                <li style="color: red;">v_strafe_longitudinal_abs</li>
                <li style="color: red;">v_strafe_forward_rel</li>
                <li style="color: red;">v_strafe_back_rel</li>
                <li style="color: red;">v_strafe_longitudinal_rel</li>
                <li style="color: red;">v_strafe_set_rel_from_abs_long</li>
                <li style="color: red;">v_strafe_set_rel_from_abs_short</li>
                <li style="color: red;">v_strafe_reset_rel_long</li>
                <li style="color: red;">v_strafe_reset_rel_short</li>
                <li style="color: red;">v_ifcs_toggle_cruise_control</li>
                <li style="color: red;">v_engage_jump</li>
                <li style="color: green;">v_strafe_forward</li>
                <li style="color: green;">v_strafe_back</li>
                <li style="color: green;">v_strafe_longitudinal</li>
                <li style="color: green;">v_ifcs_throttle_swap_mode</li>
                <li style="color: green;">v_ifcs_throttle_set_sticky</li>
                <li style="color: green;">v_ifcs_throttle_set_normal</li>
                <li style="color: green;">v_strafe_trim_set_long</li>
                <li style="color: green;">v_strafe_trim_set_short</li>
                <li style="color: green;">v_strafe_trim_set_100_long</li>
                <li style="color: green;">v_strafe_trim_set_100_short</li>
                <li style="color: green;">v_strafe_trim_set_50_long</li>
                <li style="color: green;">v_strafe_trim_set_50_short</li>
                <li style="color: green;">v_strafe_trim_reset_long</li>
                <li style="color: green;">v_strafe_trim_reset_short</li>
                <li style="color: green;">v_ifcs_gsafe_on</li>
                <li style="color: green;">v_ifcs_gsafe_off</li>
                <li style="color: green;">v_master_mode_cycle_long</li>
                <li style="color: green;">v_master_mode_set_nav</li>
                <li style="color: green;">v_master_mode_set_scm</li>
                <li style="color: green;">v_ifcs_toggle_gravity_compensation</li>
                <li style="color: green;">v_ifcs_gravity_compensation_on</li>
                <li style="color: green;">v_ifcs_gravity_compensation_off</li>
                <li style="color: green;">v_auto_precision_mode_toggle</li>
                <li style="color: green;">v_auto_precision_mode_on</li>
                <li style="color: green;">v_auto_precision_mode_off</li>
        </ul>
        <li>Actionmap <b>spaceship_targeting</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_target_unlock_selected</li>
                <li style="color: red;">v_enter_remote_turret_1</li>
                <li style="color: red;">v_enter_remote_turret_2</li>
                <li style="color: red;">v_enter_remote_turret_3</li>
                <li style="color: green;">v_auto_targeting_toggle_long</li>
                <li style="color: green;">v_auto_targeting_toggle_short</li>
                <li style="color: green;">v_auto_targeting_enable_short</li>
                <li style="color: green;">v_auto_targeting_enable_long</li>
                <li style="color: green;">v_auto_targeting_disable_short</li>
                <li style="color: green;">v_auto_targeting_disable_long</li>
                <li style="color: green;">v_target_unlock</li>
        </ul>
        <li>Actionmap <b>spaceship_targeting_advanced</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_target_under_reticle</li>
        </ul>
        <li>Actionmap <b>turret_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">turret_remote_zoom_in</li>
                <li style="color: red;">turret_remote_zoom_out</li>
                <li style="color: red;">turret_remote_zoom_toggle</li>
                <li style="color: green;">turret_remote_cycle_next</li>
                <li style="color: green;">turret_remote_cycle_prev</li>
        </ul>
        <li>Actionmap <b>spaceship_weapons</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_weapon_pip_combination_type_set_combined_all</li>
                <li style="color: green;">v_weapon_pip_prec_line_toggle</li>
                <li style="color: green;">v_weapon_pip_prec_line_on</li>
                <li style="color: green;">v_weapon_pip_prec_line_off</li>
                <li style="color: green;">v_weapon_pip_fade_toggle</li>
                <li style="color: green;">v_weapon_pip_fade_on</li>
                <li style="color: green;">v_weapon_pip_fade_off</li>
                <li style="color: green;">v_weapon_ui_scale_toggle</li>
                <li style="color: green;">v_weapon_ui_scale_on</li>
                <li style="color: green;">v_weapon_ui_scale_off</li>
                <li style="color: green;">v_weapon_preset_attack</li>
                <li style="color: green;">v_weapon_preset_next</li>
                <li style="color: green;">v_weapon_preset_prev</li>
                <li style="color: green;">v_weapon_ads_hold</li>
                <li style="color: green;">v_weapon_ads_toggle</li>
                <li style="color: green;">v_weapon_ads_stable_max_zoom_hold</li>
                <li style="color: green;">v_weapon_ads_cycle_tracking</li>
        </ul>
        <li>Actionmap <b>mapui</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">mapui_cycle_section_up</li>
                <li style="color: red;">mapui_cycle_section_down</li>
                <li style="color: green;">mapui_pan_up</li>
                <li style="color: green;">mapui_pan_down</li>
                <li style="color: green;">mapui_cycle_section_forward</li>
                <li style="color: green;">mapui_cycle_section_backward</li>
                <li style="color: green;">mapui_cycle_zone_forward</li>
                <li style="color: green;">mapui_cycle_zone_backward</li>
                <li style="color: green;">mapui_action_planroute</li>
                <li style="color: green;">mapui_action_clearroute</li>
                <li style="color: green;">mapui_action_togglepin</li>
                <li style="color: green;">mapui_action_mylocation</li>
                <li style="color: green;">mapui_action_toggle_view_entire_zone</li>
                <li style="color: green;">mapui_action_toggleQTActions</li>
                <li style="color: green;">mapui_action_goto_selection</li>
                <li style="color: green;">mapui_action_step_back</li>
                <li style="color: green;">mapui_action_transition</li>
        </ul>
        <li>Actionmap <b>default</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">notification_accept</li>
                <li style="color: green;">notification_decline</li>
                <li style="color: green;">cycle_chat_lobby</li>
        </ul>
        <li>Actionmap <b>player_choice</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">pc_qs_flight_mode</li>
                <li style="color: green;">pc_pit_looting</li>
                <li style="color: green;">pc_pit_looting_toggle_view</li>
                <li style="color: green;">pc_pit_looting_toggle_weapon_attachments</li>
        </ul>
    </ul>
    <li id=3.22.1>3.22.0 =&gt; <b>3.22.1</b></li>
    <ul>
    </ul>
    <li id=3.22.0>3.21.1 =&gt; <b>3.22.0</b></li>
    <ul>
        <li>Actionmap <b>spaceship_salvage</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_salvage_toggle_munching_mode</li>
                <li style="color: red;">v_salvage_munching_switch_field_mode</li>
                <li style="color: red;">v_salvage_focus_all</li>
                <li style="color: green;">tractor_beam_vehicle_increase_distance</li>
                <li style="color: green;">tractor_beam_vehicle_decrease_distance</li>
                <li style="color: green;">v_salvage_toggle_fire_fracture</li>
                <li style="color: green;">v_salvage_toggle_fire_disintegrate</li>
                <li style="color: green;">v_salvage_cycle_modifiers_structural</li>
                <li style="color: green;">v_salvage_focus_all_heads</li>
                <li style="color: green;">v_salvage_focus_fracture</li>
                <li style="color: green;">v_salvage_focus_disintegrate</li>
        </ul>
        <li>Actionmap <b>tractor_beam</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">tractor_beam_vehicle_increase_distance</li>
                <li style="color: red;">tractor_beam_vehicle_decrease_distance</li>
        </ul>
    </ul>
    <li id=3.21.1>3.21.0 =&gt; <b>3.21.1</b></li>
    <ul>
        <li>Actionmap <b>spaceship_salvage</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_salvage_toggle_munching_mode</li>
                <li style="color: green;">v_salvage_toggle_fire_focused</li>
                <li style="color: green;">v_salvage_toggle_fire_left</li>
                <li style="color: green;">v_salvage_toggle_fire_right</li>
                <li style="color: green;">v_salvage_reset_gimbal</li>
                <li style="color: green;">v_salvage_cycle_modifiers_focused</li>
                <li style="color: green;">v_salvage_munching_switch_field_mode</li>
                <li style="color: green;">v_salvage_focus_all</li>
                <li style="color: green;">v_salvage_focus_left</li>
                <li style="color: green;">v_salvage_focus_right</li>
                <li style="color: green;">v_salvage_nudge_up__left</li>
                <li style="color: green;">v_salvage_nudge_down__left</li>
                <li style="color: green;">v_salvage_nudge_left__left</li>
                <li style="color: green;">v_salvage_nudge_right__left</li>
                <li style="color: green;">v_salvage_nudge_up__right</li>
                <li style="color: green;">v_salvage_nudge_down__right</li>
                <li style="color: green;">v_salvage_nudge_left__right</li>
                <li style="color: green;">v_salvage_nudge_right__right</li>
        </ul>
        <li>Actionmap <b>player</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">selectUtilityItem</li>
        </ul>
        <li>Actionmap <b>tractor_beam</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">tractor_beam_vehicle_increase_distance</li>
                <li style="color: green;">tractor_beam_vehicle_decrease_distance</li>
        </ul>
    </ul>
    <li id=3.21.0>3.20.0 =&gt; <b>3.21.0</b></li>
    <ul>
        <li>Actionmap <b>spaceship_radar</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_inc_ping_focus_angle</li>
                <li style="color: red;">v_dec_ping_focus_angle</li>
        </ul>
    </ul>
    <li id=3.20.0>3.19.1 =&gt; <b>3.20.0</b></li>
    <ul>
        <li>Actionmap <b>radar_tagging</b>  <b style="color: red;">removed</b></li>
        <li>Actionmap <b>seat_general</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_operator_mode_cycle_forward</li>
                <li style="color: green;">v_operator_mode_cycle_back</li>
        </ul>
        <li>Actionmap <b>spaceship_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_strafe_forward</li>
                <li style="color: red;">v_strafe_back</li>
                <li style="color: red;">v_strafe_longitudinal</li>
                <li style="color: green;">v_strafe_forward_abs_rel</li>
                <li style="color: green;">v_strafe_back_abs_rel</li>
                <li style="color: green;">v_strafe_longitudinal_abs_rel</li>
                <li style="color: green;">v_strafe_abs_rel_swap</li>
                <li style="color: green;">v_strafe_forward_abs</li>
                <li style="color: green;">v_strafe_back_abs</li>
                <li style="color: green;">v_strafe_longitudinal_abs</li>
                <li style="color: green;">v_strafe_forward_rel</li>
                <li style="color: green;">v_strafe_back_rel</li>
                <li style="color: green;">v_strafe_longitudinal_rel</li>
                <li style="color: green;">v_strafe_set_rel_from_abs_long</li>
                <li style="color: green;">v_strafe_set_rel_from_abs_short</li>
                <li style="color: green;">v_strafe_reset_rel_long</li>
                <li style="color: green;">v_strafe_reset_rel_short</li>
                <li style="color: green;">v_atc_loading_area_request</li>
                <li style="color: green;">v_master_mode_cycle</li>
                <li style="color: green;">v_toggle_jump_request</li>
                <li style="color: green;">v_engage_jump</li>
        </ul>
        <li>Actionmap <b>spaceship_targeting_advanced</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_target_cycle_selection_back</li>
                <li style="color: red;">v_target_cycle_selection_fwd</li>
                <li style="color: red;">v_target_cycle_selection_reset</li>
        </ul>
        <li>Actionmap <b>turret_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">turret_remote_zoom_in</li>
                <li style="color: green;">turret_remote_zoom_out</li>
                <li style="color: green;">turret_remote_zoom_toggle</li>
                <li style="color: green;">turret_gyromode</li>
        </ul>
        <li>Actionmap <b>turret_advanced</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">turret_gyromode</li>
                <li style="color: red;">turret_change_movement_type</li>
        </ul>
        <li>Actionmap <b>spaceship_weapons</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_weapon_suppress_aim_assists_hold</li>
                <li style="color: green;">v_weapon_pip_combination_type_toggle</li>
                <li style="color: green;">v_weapon_pip_combination_type_set_single</li>
                <li style="color: green;">v_weapon_pip_combination_type_set_combined_weapon_group</li>
                <li style="color: green;">v_weapon_pip_combination_type_set_combined_all</li>
                <li style="color: green;">v_weapon_convergence_distance_rel</li>
                <li style="color: green;">v_weapon_convergence_distance_rel_increase</li>
                <li style="color: green;">v_weapon_convergence_distance_rel_decrease</li>
                <li style="color: green;">v_weapon_convergence_distance_abs</li>
                <li style="color: green;">v_weapon_convergence_distance_set_default</li>
        </ul>
        <li>Actionmap <b>vehicle_mobiglas</b> <b style="color: green;">added</b>
        <li>Actionmap <b>player</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">weapon_melee_hold</li>
                <li style="color: red;">toggle_fps_scan_mode</li>
                <li style="color: green;">restrain</li>
                <li style="color: green;">takedown_nonLethal</li>
                <li style="color: green;">takedown_lethal</li>
                <li style="color: green;">ammoRepool</li>
                <li style="color: green;">toggleHelmetState</li>
                <li style="color: green;">ship_recall</li>
                <li style="color: green;">ui_3d_display_select</li>
                <li style="color: green;">ui_3d_display_reorient</li>
                <li style="color: green;">ui_3d_display_center</li>
                <li style="color: green;">ui_3d_display_decenter</li>
                <li style="color: green;">ui_3d_display_zoom_out_button</li>
                <li style="color: green;">ui_3d_display_zoom_in_button</li>
                <li style="color: green;">ui_3d_display_zoom_in_analog</li>
                <li style="color: green;">ui_3d_display_zoom_out_analog</li>
                <li style="color: green;">ui_3d_display_zoom_out_wheel</li>
                <li style="color: green;">ui_3d_display_zoom_in_wheel</li>
                <li style="color: green;">ui_3d_display_pan_toggle</li>
                <li style="color: green;">ui_3d_display_rotate_toggle</li>
                <li style="color: green;">ui_3d_display_zoom_toggle</li>
                <li style="color: green;">ui_3d_display_toggledPanX</li>
                <li style="color: green;">ui_3d_display_toggledPanY</li>
                <li style="color: green;">ui_3d_display_toggledYaw</li>
                <li style="color: green;">ui_3d_display_toggledPitch</li>
                <li style="color: green;">ui_3d_display_toggledZoom</li>
                <li style="color: green;">ui_3d_display_nonToggledPanUp</li>
                <li style="color: green;">ui_3d_display_nonToggledPanDown</li>
                <li style="color: green;">ui_3d_display_nonToggledPanLeft</li>
                <li style="color: green;">ui_3d_display_nonToggledPanRight</li>
                <li style="color: green;">ui_3d_display_nonToggledYawUp</li>
                <li style="color: green;">ui_3d_display_nonToggledYawDown</li>
                <li style="color: green;">ui_3d_display_nonToggledPitchLeft</li>
                <li style="color: green;">ui_3d_display_nonToggledPitchRight</li>
                <li style="color: green;">ui_3d_display_pinMode</li>
                <li style="color: green;">ui_3d_display_pinSelect</li>
                <li style="color: green;">pc_conversation_option_up</li>
                <li style="color: green;">pc_conversation_option_down</li>
                <li style="color: green;">pc_conversation_option_select</li>
        </ul>
        <li>Actionmap <b>mapui</b> <b style="color: green;">added</b>
        <li>Actionmap <b>zero_gravity_eva</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">eva_zgt_quick_attach</li>
        </ul>
        <li>Actionmap <b>default</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">ui_3d_display_select</li>
                <li style="color: red;">ui_3d_display_reorient</li>
                <li style="color: red;">ui_3d_display_center</li>
                <li style="color: red;">ui_3d_display_decenter</li>
                <li style="color: red;">ui_3d_display_zoom_out_button</li>
                <li style="color: red;">ui_3d_display_zoom_in_button</li>
                <li style="color: red;">ui_3d_display_zoom_in_analog</li>
                <li style="color: red;">ui_3d_display_zoom_out_analog</li>
                <li style="color: red;">ui_3d_display_zoom_out_wheel</li>
                <li style="color: red;">ui_3d_display_zoom_in_wheel</li>
                <li style="color: red;">ui_3d_display_pan_toggle</li>
                <li style="color: red;">ui_3d_display_rotate_toggle</li>
                <li style="color: red;">ui_3d_display_zoom_toggle</li>
                <li style="color: red;">ui_3d_display_toggledPanX</li>
                <li style="color: red;">ui_3d_display_toggledPanY</li>
                <li style="color: red;">ui_3d_display_toggledYaw</li>
                <li style="color: red;">ui_3d_display_toggledPitch</li>
                <li style="color: red;">ui_3d_display_toggledZoom</li>
                <li style="color: red;">ui_3d_display_nonToggledPanUp</li>
                <li style="color: red;">ui_3d_display_nonToggledPanDown</li>
                <li style="color: red;">ui_3d_display_nonToggledPanLeft</li>
                <li style="color: red;">ui_3d_display_nonToggledPanRight</li>
                <li style="color: red;">ui_3d_display_nonToggledYawUp</li>
                <li style="color: red;">ui_3d_display_nonToggledYawDown</li>
                <li style="color: red;">ui_3d_display_nonToggledPitchLeft</li>
                <li style="color: red;">ui_3d_display_nonToggledPitchRight</li>
                <li style="color: red;">ui_3d_display_pinMode</li>
                <li style="color: red;">ui_3d_display_pinSelect</li>
        </ul>
    </ul>
    <li id=3.19.1>3.17.5 =&gt; <b>3.19.1</b></li>
    <ul>
        <li>Actionmap <b>seat_general</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_toggle_salvage_mode</li>
        </ul>
        <li>Actionmap <b>spaceship_general</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_toggle_all_portlocks</li>
                <li style="color: green;">v_lock_all_ports</li>
                <li style="color: green;">v_unlock_all_ports</li>
                <li style="color: green;">pc_conversation_option1</li>
                <li style="color: green;">pc_conversation_option2</li>
                <li style="color: green;">pc_conversation_option3</li>
                <li style="color: green;">pc_conversation_option4</li>
                <li style="color: green;">pc_conversation_option5</li>
        </ul>
        <li>Actionmap <b>spaceship_movement</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_ifcs_esp_hold</li>
                <li style="color: green;">v_deploy_landing_system</li>
                <li style="color: green;">v_retract_landing_system</li>
        </ul>
        <li>Actionmap <b>spaceship_targeting</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_target_cycle_reticle_mode</li>
        </ul>
        <li>Actionmap <b>radar_tagging</b> <b style="color: green;">added</b>
        <li>Actionmap <b>spaceship_scanning</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_ui_prev_scan_tab</li>
                <li style="color: green;">v_ui_next_scan_tab</li>
                <li style="color: green;">v_ui_prev_scan_page</li>
                <li style="color: green;">v_ui_next_scan_page</li>
                <li style="color: green;">v_ui_prev_contact_page</li>
                <li style="color: green;">v_ui_next_contact_page</li>
                <li style="color: green;">v_ui_prev_contact</li>
                <li style="color: green;">v_ui_next_contact</li>
        </ul>
        <li>Actionmap <b>spaceship_salvage</b> <b style="color: green;">added</b>
        <li>Actionmap <b>turret_advanced</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">turret_toggle_esp</li>
                <li style="color: green;">turret_esp_toggle</li>
                <li style="color: green;">turret_esp_hold</li>
        </ul>
        <li>Actionmap <b>spaceship_weapons</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">v_weapon_cycle_aimmode</li>
                <li style="color: green;">v_weapon_gimbal_mode_cycle_all</li>
                <li style="color: green;">v_weapon_gimbal_mode_cycle_fixed_auto</li>
                <li style="color: green;">v_weapon_gimbal_mode_set_fixed_long</li>
                <li style="color: green;">v_weapon_gimbal_mode_set_auto_long</li>
                <li style="color: green;">v_weapon_gimbal_mode_set_manual_long</li>
                <li style="color: green;">v_weapon_gimbal_mode_set_fixed</li>
                <li style="color: green;">v_weapon_gimbal_mode_set_auto</li>
                <li style="color: green;">v_weapon_gimbal_mode_set_manual</li>
                <li style="color: green;">v_weapon_pip_toggle_lead_lag</li>
                <li style="color: green;">v_weapon_pip_set_lag</li>
                <li style="color: green;">v_weapon_pip_set_lead</li>
        </ul>
        <li>Actionmap <b>stopwatch</b> <b style="color: green;">added</b>
        <li>Actionmap <b>player</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">ledgegrab</li>
                <li style="color: green;">weapon_melee_hold</li>
                <li style="color: green;">select_primary_pit</li>
                <li style="color: green;">select_secondary_pit</li>
                <li style="color: green;">select_sidearm_pit</li>
                <li style="color: green;">select_MeleeWeapon_pit</li>
                <li style="color: green;">select_gadget_pit</li>
                <li style="color: green;">reloadSecondary</li>
                <li style="color: green;">toggleAttachHelmet</li>
                <li style="color: green;">toggle_fps_scan_mode</li>
                <li style="color: green;">pc_conversation_option1</li>
                <li style="color: green;">pc_conversation_option2</li>
                <li style="color: green;">pc_conversation_option3</li>
                <li style="color: green;">pc_conversation_option4</li>
                <li style="color: green;">pc_conversation_option5</li>
        </ul>
        <li>Actionmap <b>tractor_beam</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">tractor_beam_rotate_z_up</li>
                <li style="color: green;">tractor_beam_rotate_z_down</li>
                <li style="color: green;">tractor_beam_detach</li>
        </ul>
        <li>Actionmap <b>zero_gravity_eva</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: red;">eva_push_forward</li>
                <li style="color: red;">eva_push_back</li>
                <li style="color: red;">eva_launch</li>
                <li style="color: red;">eva_detach</li>
                <li style="color: green;">eva_zgt_quick_attach</li>
        </ul>
        <li>Actionmap <b>zero_gravity_traversal</b> <b style="color: green;">added</b>
        <li>Actionmap <b>vehicle_general</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">v_toggle_all_portlocks</li>
                <li style="color: green;">v_lock_all_ports</li>
                <li style="color: green;">v_unlock_all_ports</li>
        </ul>
        <li>Actionmap <b>player_choice</b> <span style="color: orange;">changed</span></li>
        <ul>
                <li style="color: green;">pc_qs_weapons_pit_primary</li>
                <li style="color: green;">pc_qs_weapons_pit_secondary</li>
                <li style="color: green;">pc_qs_weapons_pit_sidearm</li>
        </ul>
    </ul>
    <li id=3.17.5>3.17.4 =&gt; <b>3.17.5</b></li>
    <ul>
    </ul>
</ul>
