<script>

export default {
  name: 'About',
}
</script>

<template>
    <div>
        <h1>About</h1>

        <h2>Security and data privacy</h2>
        <p>This website is statically loaded into your browser and currently does not send any data back
        to the server. Hence there is no requirement to handle data privacy regulations.</p>
        <p>Browser's local storage is only used for the site's own purpose. No user tracking or the like is performed.</p>

        <h2>Sending <span style="color: red;">&#9829;</span></h2>
        <p><a href="https://github.com/dolkensp/unp4k">unp4k by Peter Dolkens</a></p>

        <h2>Contact</h2>
        <p><a href="mailto:galactic.hike@proton.me">galactic.hike@proton.me</a></p>

        <h2>Copyright</h2>
        <p>This is an unofficial Star Citizen fansite, not affiliated with the Cloud Imperium group of companies. All content on this site not authored by its host or users are property of their respective owners. <a href="https://robertsspaceindustries.com">Star Citizen®, Roberts Space Industries® and Cloud Imperium®</a> are registered trademarks of Cloud Imperium Rights LLC.</p>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> This website (except content not authored by its host or users) is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>

    </div>
</template>

<style scoped>
</style>
