<script>

export default {
  name: 'Donate',

  mounted() {
    // PayPal
    const paypal_donate_div = document.getElementById('paypal-donate-button')
    while (paypal_donate_div.firstChild) {
        paypal_donate_div.removeChild(paypal_donate_div.lastChild);
    }
    PayPal.Donation.Button({
        env:'production',
        hosted_button_id:'5F6JUECX6G95E',
        image: {
            src:'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif',
            alt:'Donate with PayPal button',
            title:'PayPal - The safer, easier way to pay online!',
        }
    }).render('#paypal-donate-button');
  },
}
</script>

<template>
    <div>
        <h1>Support this site</h1>
        <p>Donations allow me to allocate more time into this project, improve existing tools and provide new ones.</p>
        <p>Donations also help covering running costs of servers.</p>

        <div id="paypal">
            <div id="paypal-donate-button"></div>
        </div>

    </div>

<!--
https://www.buymeacoffee.com/
https://www.patreon.com/europe
-->
</template>

<style scoped>
div {
    margin-top: 15px;
}
</style>
