<template>
    <label class="text-reader">
        <slot></slot>
        <input type="file" :accept="file_accept" @change="loadTextFromFile">
    </label>
</template>

<script>
export default {

    props: ['file_accept', 'as'],

    methods: {
        loadTextFromFile(ev) {
            const file = ev.target.files[0];
            const reader = new FileReader();

            reader.onload = e => this.$emit("load", file.name, e.target.result);
            if (this.as == "text") {
                reader.readAsText(file);
            } else if (this.as == "data_url") {
                reader.readAsDataURL(file);
            }
        }
    }
};
</script>

<style>
.text-reader {
    position: relative;
    overflow: hidden;
    display: inline-block;

    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;

    /* Make it look more like a button */
    background-color: #e9e9ed;
    border-color: #8f8f8f;
    font-size: 0.9em
}
.text-reader input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
</style>
