<script>
export default {
  name: 'Issues',
}
</script>

<template>
    <div>
        <h1>Ideas & Issues</h1>
        <p>If you experience any problems or have ideas for improvement feel free to <a href="https://codeberg.org/timoses/galactic-hike/issues/new">report those here</a> or write <a href="mailto:galactic.hike@proton.me">@mail</a>.</p>
        <p>Be reminded that this is a free time endeavour. <router-link to="/donate">Support us</router-link> if you like this site.</p>
    </div>

</template>

<style scoped>
</style>
