<script>
import { nextTick, ref } from 'vue'
import { useStorage } from '@vueuse/core'

import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

import Container from './logi/Container.vue'
import { import_sc } from '../assets/util.js';

const scdata = ref(null)
const scdata_versioned = {}
const scdata_error = ref(null)

const default_packs = [{
            name: "Example package",
            id: 0,
            items: [{
                count:  1,
                entity: {
                  "name": "Beacon Undersuit Dark Grey",
                  "type": "armor",
                  "id": "0d5e3de2-21dc-4779-b55c-93d8ccee30ea",
                  "filename": "rsi_deckcrew_undersuit_01_01_12.json",
                  "volume_microscu": 28000
                }
            }]
        }]

const default_loads = [{
            name: "Example Load",
            id: 0,
            ship: {
                  "type": "ship",
                  "guid": "0079c5d5-1678-4f8c-85ba-18ca8f642af6",
                  "filename": "aegs_avenger_titan.json",
                  "name": "Aegis Avenger Titan",
                  "cargo_microscu": 8000000
            },
            packs: [{ref: 0, count: 10}]
        }]

export default {

  name: 'Logi',
  props: ["sc_version"],

  components: {
    Container,
    vSelect,
  },

  data() {
    return {
        show_packs: useStorage('logi_show_packs', true),
        show_loads: useStorage('logi_show_loads', true),
        packs: useStorage('logi_packs', default_packs),
        loads: useStorage('logi_loads', default_loads),

        scdata: scdata,
        scdata_error: scdata_error,

        export_active: false,
        import_active: false,
        data_serialized: null,

    };
  },

  mounted() {
    this.handle_sc_version_update()
  },

  watch: {
    sc_version(newVersion, oldVersion) {
      this.handle_sc_version_update()
    }
  },

  methods: {

    handle_sc_version_update() {
        scdata.value = null
        scdata_error.value = null
        import_sc('logi', this.sc_version, scdata, scdata_error)
    },
    get_pack_volume(pack) {
        if (pack) {
            return pack.items.map(item => {
                return 'volume_microscu' in item.entity ? item.count * item.entity.volume_microscu : 0
                }).reduce((x,y) => x+y, 0)
        } else {
            return 0
        }
    },
    get_load_packs(load) {
        return this.packs.filter(p => load.packs.map(lp => lp.ref).includes(p.id))
    },
    get_load_percentage(load) {
        return load.packs.map(lp => lp.count * this.get_pack_volume(this.packs.find(p => p.id == lp.ref)))
                .reduce((x,y) => x + y, 0) * 100 / load.ship.cargo_microscu
    },

    async export_data() {
        if (this.export_active) {
            this.export_active = false
            return;
        }
        this.data_serialized = btoa(JSON.stringify({
            packs: this.packs,
            loads: this.loads
        }))

        this.export_active = true
        await nextTick()
        this.$refs.export.focus()
        this.$refs.export.select()
    },
    async import_data() {
        if (this.import_active) {

            var import_data = {}
            try {
                var deserialized = atob(this.$refs.import.value) || null
                import_data = JSON.parse(deserialized)

                if (import_data && 'packs' in import_data && 'loads' in import_data) {
                    this.packs = import_data.packs
                    this.loads = import_data.loads
                } else {
                    console.warn('Unable to import passed data: ', atob(this.$refs.import.value) || null)
                }
            } catch(e) {
                console.warn('Unable to parse import data to json:', e.message)
            }

            this.import_active = false
        } else {
            this.import_active = true
            this.$refs.import.value = ''
            await nextTick()
            this.$refs.import.focus()
        }
    },
    reset() {
        if(confirm('Are you sure?')) {
            this.packs = default_packs
            this.loads = default_loads
        }
    }
  }
}
</script>

<template>
    <div>
        <h1>Logi</h1>
        <p>Here you can create Packages (Packs) which can then be loaded into ships (Loads).</p>
        <p>This tool should help you plan how many Packs fit into your ship.</p>
    </div>

<div>
    <button @click="show_packs = !show_packs">Packs</button>
    <button @click="show_loads = !show_loads">Loads</button>
    <button @click="export_data">Export</button>
    <button @click="import_data">Import</button>
    <button @click="reset">Reset</button>
</div>
<textarea v-show="export_active" ref="export" @focusout="export_active = !export_active" v-model="data_serialized" />
<textarea @keyup.enter="import_data" v-show="import_active" @focusout="import_data" ref="import" />
<div v-if="!scdata && !scdata_error">
Loading
</div>
<div v-if="scdata_error">
ERROR {{ scdata_error }}
</div>
<div v-if="scdata" v-show="show_packs">
    <h2>Packs</h2>
    <div>
        <button @click="packs.push({id: Math.random().toString(16).slice(2), name: '', items: []})">+</button>
        Add Pack
    </div>
    <Container class="container pack"
        @container-removed="(id) => this.packs.splice(id, 1)"
        @item-entity-changed="(id, item_id, selection) => this.packs[id].items[item_id].entity = selection"
        @item-count-changed="(id, item_id, count) => this.packs[id].items[item_id].count = count"
        @item-added="(id) => this.packs[id].items.push({count: 0, entity: {}})"
        @item-removed="(id, item_id) => this.packs[id].items.splice(item_id, 1)"
        @name-changed="(id, name) => this.packs[id].name = name"
        v-for="(p,idx) in packs"
            :id="idx"
            :name="p.name"
            :selected_items="p.items"
            :selections="scdata.entities">
        <template v-slot:status>
        Volume (microSCU): {{
            get_pack_volume(this.packs[idx]).toLocaleString('en-US')
        }}
        </template>
    </Container>
</div>
<div v-if="scdata" v-show="show_loads">
    <h2>Loads</h2>
    <div>
        <button @click="loads.push({id: Math.random().toString(16).slice(2), name: '', packs: [], ship: {}})">+</button>
        Add Load
    </div>
    <Container class="container load"
        @container-removed="(id) => this.loads.splice(id, 1)"
        @item-entity-changed="(id, item_id, selection) => this.loads[id].packs[item_id].ref = selection.id"
        @item-count-changed="(id, item_id, count) => this.loads[id].packs[item_id].count = count"
        @item-added="(id) => this.loads[id].packs.push({count: 0, ref: null})"
        @item-removed="(id, item_id) => this.loads[id].packs.splice(item_id, 1)"
        @name-changed="(id, name) => this.loads[id].name = name"
        v-for="(l,idx) in loads"
            :id="idx"
            :name="l.name"
            :selected_items="l.packs.map(lp => { return {count: lp.count, entity: this.packs.find(p => p.id == lp.ref) || {}}})"
            :selections="packs.filter(p => !l.packs.map(lp => lp.ref).includes(p.id))">
        <template v-slot:status>
        <v-select label="name" v-model="l.ship" :options="scdata.ships" :clearable="false"></v-select>
        Volume (microSCU): {{
            this.loads[idx].packs.map(lp => lp.count * get_pack_volume(this.packs.find(p => p.id == lp.ref)))
            .reduce((x,y) => x + y, 0).toLocaleString('en-US')
        }} / {{ l.ship?.cargo_microscu?.toLocaleString('en-US') }}
        <v-progress-circular :color="get_load_percentage(l) > 100 ? 'red' : 'blue'" :model-value="get_load_percentage(l)"></v-progress-circular>
        <strong style="color: red;" v-show="get_load_percentage(l) > 100">OVERLOADED</strong>

        </template>
    </Container>
</div>
</template>

<style scoped>
.container {
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: 1.5px;
}
.container.pack {
    border-color: #1a94ff;
}
.container.load {
    border-color: #05c4a0;
}
</style>
