<script>
export default {
  name: 'Welcome',
}
</script>

<template>
    <div>
        <h1>Home of Galactic Hike</h1>
        <p>Welcome fellow resident of the Verse!</p>
        <p>This site offers some tools around <a href="https://robertsspaceindustries.com/star-citizen">Star Citizen</a> which hopefully improve your experience in the Verse.</p>
        <p>Rather than offering great looks (for now) I currently focus on functionality.</p>
    </div>
</template>

<style scoped>
</style>
