<script>
import ContainerItem from './ContainerItem.vue'

export default {
  props: ['id', 'name', 'selected_items', 'selections'],

  data() {
      return {
        editing_name: this.name == '' ? true : false
      }
  },

  components: {
    ContainerItem
  },

  computed: {
    container_name: {
        get() { return this.name },
        set(value) { this.$emit('name-changed', this.id, value) }
    }
  },

  methods: {
    toggle_editing_name() {
        if (this.name == '') {
            this.editing_name = true
        } else {
            this.editing_name = !this.editing_name
        }

        if (this.editing_name) {
            this.$nextTick(() => {
              this.$refs.edit_name.focus()
            })
        }
    }
  }
}
</script>

<template>
<div>
    <button @click="$emit('container-removed', id)">-</button>
    <h3 @click="toggle_editing_name" v-show="!editing_name">{{ name }}</h3>
    <h3><input
            ref="edit_name"
            placeholder="Insert name here ..."
            @keyup.enter="toggle_editing_name"
            @focusout="toggle_editing_name"
            v-show="editing_name"
            v-model="container_name" />
    </h3>
    <div><slot name="status"></slot></div>
    <button :disabled="selections.length == 0" @click="selections.length && $emit('item-added', id)">+</button>
    <ol>
        <ContainerItem
            @item-entity-changed="(item_id, selection) => $emit('item-entity-changed', id, item_id, selection)"
            @item-count-changed="(item_id, count) => $emit('item-count-changed', id, item_id, count)"
            @item-removed="(item_id) => $emit('item-removed', id, item_id)"
            v-for="(item,idx) in selected_items"
                :selected_item="item"
                :selections="selections"
                :id="idx" />
    </ol>
</div>
</template>

<style scoped>
div p,h3 {
    margin: 1px;
}
</style>
