<script>
import vSelect from 'vue-select'

export default {
  props: ['id', 'selected_item', 'selections'],

  components: {
    vSelect,
  },

  computed: {
    entity_select: {
        get() { return this.selected_item.entity },
        set(entity) { this.$emit('item-entity-changed', this.id, entity) },
    },
    item_count: {
        get() { return this.selected_item.count },
        set(count) { this.$emit('item-count-changed', this.id, count) }
    }
  },
}
</script>

<template>
    <li>
        <button @click="$emit('item-removed', id)">-</button>
        <v-select label="name" v-model="entity_select" :options="selections" :clearable="false"></v-select>
        <input v-model="item_count" />
    </li>
</template>

<style scoped>
input {
    width: 50px;
}
</style>
