<script>
import { useStorage } from '@vueuse/core'

const sc_versions = [
    '4.0.2',
    '4.0.1',
    '4.0.0',
    '3.24.3',
    '3.24.2',
    '3.24.1',
    '3.24.0',
    '3.23.1',
    '3.22.1',
    '3.22.0',
    '3.21.1',
    '3.21.0',
    '3.20.0',
    '3.19.1',
    '3.17.5',
    '3.17.4',
]

export default {

  name: 'App',

  data() {
    return {
        nav_open: useStorage('nav_open', true),
        sc_versions: sc_versions,
        sc_version: sc_versions[0],
    };
  },

  mounted() {
      if (!(this.nav_open))
          this.toggle_nav()
  },

  methods: {
    toggle_nav() {
      const sidebar = document.getElementById("sidebar")
      if (sidebar.style.left == "0px" || sidebar.style.left == "") {
          sidebar.style.left = "-250px";
          document.getElementById("main").style.marginLeft = "50px";
          this.nav_open = false
      } else {
          document.getElementById("sidebar").style.left = "0px";
          document.getElementById("main").style.marginLeft = "250px";
          this.nav_open = true
      }
      setTimeout(() => window.dispatchEvent(new Event('resize')), 500)
    },
  }
}

/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */

</script>


<template>
  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
  </head>
  <div id="sidebar" class="sidebar">
      <img id="sidebar_bg" src="https://source.unsplash.com/random/300x600/?universe,planets" />
      <a href="javascript:void(0)" class="closebtn" @click="toggle_nav">×</a>
      <nav>
        <ul>
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/about">About</router-link></li>
        </ul>
        <ul>
            <li><router-link to="/logi">Logistics</router-link></li>
            <li><router-link to="/keys">Keys</router-link></li>
            <!--<li><router-link to="/chart">Chart</router-link></li>-->
        </ul>
        <ul>
            <li><router-link to="/issues">Ideas & <br />Issues</router-link></li>
            <li><router-link to="/donate">Support <span style="color: #c41e12;">&#9829;</span></router-link></li>
        </ul>
      </nav>
      <div style="text-align: center;" id="sc_community">
          <img alt="Star Citizen Made By Community Logo" src="./assets/sc_made_by_community_black.png" />
      </div>
  </div>

    <button class="openbtn" @click="toggle_nav()">&#9776;</button>

    <div id="main">

      <div>
          <div>
            <select id="sc_version" v-model="sc_version">
              <option v-for="version in sc_versions" :value="version">{{ version }}</option>
            </select>
          </div>
          <main>
          <div style="display: none; top: 0;  background: yellow;">
              &excl; <b>No updates</b> between <b>May 10th </b>and<b> May 27th</b>&excl; <i>(Vacation)</i>
          </div>
            <router-view :sc_version="sc_version"></router-view>
          </main>
      </div>
    </div>

    <footer>
        <div>
            <a href="https://codeberg.org/timoses/galactic-hike"><img src="./assets/codeberg_icon.svg" width="20" alt="codeberg:timoses/galactic-hike" /></a>
            <a href="https://robertsspaceindustries.com/spectrum/community/SC/forum/57219/thread/galactic-hike-some-small-tools-to-help-you-around-/377658"><img style="border-radius: 25px; background: #233249" src="./assets/spectrum_icon.png" width="20" alt="spectrum:Fan Creations:Some small tools to help you around the Verse" /></a>
        </div>
    </footer>

</template>

<style>

footer {
    height: 30px;
    background-color: #111;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: 0.6em;
}
footer a {
    color: white;
    margin: 5px;
}
footer div {
    display: inline-block;
    padding: 0px;
    margin: 4px;
}

#sc_version {
    position: fixed;
    right: 15px;
    top: 2px;
    z-index: 1;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar img#sidebar_bg {
    position: absolute;
    top: 0;
    z-index: -100;
}

.sidebar img {
    opacity: 0.4;
    height: 100vh;
}

.sidebar #sc_community {
    margin-bottom: 10px;
}
.sidebar #sc_community img {
    width: 200px;
    height: 200px;
}


.sidebar a {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    padding-left: 10px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

.sidebar nav {
    padding-top: 60px;
}

.sidebar nav a.router-link-active {
    color: #f1f1f1;
}

.sidebar nav a {

    border-left: 3px solid;
    transition: 0.3s;
}

.sidebar ul {
    margin: 30px;
    list-style: none;
}

.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar nav a:hover {
    font-size: 23px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
    z-index: 1000;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #818181;
    padding: 10px 15px;
    border: none;
    position: fixed;
}

.openbtn:hover {
    background-color: #444;
}

#main {
  transition: margin-left .5s;
  margin-left: 250px;
  margin-top: 0;
  margin-bottom: 50px;
  margin-right: 10px;
  padding-left: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .sidebar nav a:hover {font-size: 19px;}
}


</style>
